<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - Mon application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Mon application</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <!-- <li><a href="{{ url_for('professionnels') }}">Professionnels</a></li> -->
                <li><a href="{{ url_for('contacts') }}">Contact</a></li>
                <li><a href="{{ url_for('ajouter_services') }}">Ajouter mes services</a></li>
                <li><a href="{{ url_for('a_propos_de_nous') }}">A propos</a></li>

            </ul>
        </nav>
    </header>

    <!-- pour afficher les messages flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes" style="color:red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <section>
        
        
        <h2>Inscription</h2>
        <form action="{{ url_for('ajouter_services') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="email">Adresse email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="text" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="ville">Ville</label>
                <select id="ville" name="ville" required>
                    <option value="" disabled selected>Choisir une ville</option>
                    <option value="Abidjan">Abidjan</option>
                    <option value="Bouaké">Bouaké</option>
                    <option value="Yamoussoukro">Yamoussoukro</option>
                    <option value="Daloa">Daloa</option>
                    <option value="Korhogo">Korhogo</option>
                    <option value="San Pedro">San Pedro</option>
                    <!-- ajouter d'autres villes de Côte d'Ivoire ici -->
                </select>
            </div>
            
            <div class="form-group">
                <label for="service">Service</label>
                <select id="service" name="service" required>
                    <option value="" disabled selected>Choisir un service</option>
                    <option value="menuisier">Menuisier</option>
                    <option value="macon">Maçon</option>
                    <option value="electricien">Electricien</option>
                    <option value="mecanicien">Mécanicien</option>
                    <option value="plombier">Plombier</option>
                </select>
            </div>
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo" value="photo" accept="image/*">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="mot_de_passe" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirmation du mot de passe</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group">
                <button type="submit">S'inscrire</button>
                <a href="{{ url_for('connexion_service') }}">Avez-vous déja un compte?</a>

            </div>

        </form>
    </section>
    <footer>
        <p>&copy; 2023 Mon application - Tous droits réservés</p>
    </footer>
</body>
</html>
